services:
  dns-server:
    image: sifatsistemas/servidor-dns:main
    container_name: dns-server
    volumes:
      - ./dns-server/data:/app/data:rw
    restart: always
    privileged: true
    cap_add:
      - NET_ADMIN
      - NET_RAW
    networks:
      lan:
        ipv4_address: 192.168.1.254   # IP do container
    ports:
      - "8000:8000"
      - "53:53/udp"

networks:
  lan:
    driver: macvlan
    driver_opts:
      parent: enX0   # Interface física real
    ipam:
      config:
        - subnet: 192.168.1.0/24   # Rede completa da LAN
          gateway: 192.168.1.1  # Roteador / gateway padrão
          ip_range: 192.168.1.240/29   # Bloco reservado p/ containers (Pode alterar para uma configuração mais básica)
