services:
  dns-resolver:
    # image: dns-resolver:main
    build: .
    container_name: dns-resolver
    volumes:
      - ./dns-server/data:/app/data:rw
      - ./dns-server/templates:/app/templates:rw 
      - ./nginx/templates:/app/nginx/templates:rw      
      - ./nginx/etc/nginx:/etc/nginx:rw
      - ./nginx/logs:/var/log/nginx:rw
    restart: always
    privileged: true
    cap_add:
      - NET_ADMIN
      - NET_RAW

## Se atribuir IP fixo, remover essa configuração de ports:      
    ports:
      - "53:53/udp"
      - "80:80"
      - "443:443"
      - "8000:8000"

## Habilitar configuração se for atribuir IP fixo de rede ao container:
#     networks:
#       lan:
#         ipv4_address: 192.168.5.248
#     ports:
#       - "8000:8000"
#       - "53:53/udp"

# networks:
#   lan:
#     driver: macvlan
#     driver_opts:
#       parent: enX0
#     ipam:
#       config:
#         - subnet: 192.168.4.0/23
#           gateway: 192.168.5.1
#           ip_range: 192.168.5.240/29